{% extends "index.html" %}
{% block body %}
    <h1 class="text-center text-5xl font-bold mt-[71px] mb-[31px]">Editar Tarefa</h1>


    <form action="/editar_tarefas/{{ index }}" method="post" enctype="multipart/form-data" class="mt-5 mx-60">


        <p class="mt-5 text-[25px]">Novo título da tarefa:</p>
        <input type="text" name="titulo" class="block w-full p-4 mb-2 border-black border-[3px] rounded-[10px] text-[20px]" required>

        <p class="mt-10 text-[25px]">Urgência</p>
        <select name="urgencia" class="block w-full mb-2 border-black border-[3px] rounded-[10px] p-4" required>
            <option value="Baixa">Baixa</option>
            <option value="Média">Média</option>
            <option value="Alta">Alta</option>
        </select>

        <p class="mt-10 text-[25px]">Nova descrição</p>
        <input name="descricao" class="block w-full p-4 mb-2 border-black border-[3px] rounded-[10px] text-[20px] pb-10" required></input>
        
        <p class="mt-10 text-[25px]">Nova imagem de capa:</p>


        <img src="{{ url_for('static', filename='uploads/' + task.imagem) }}" alt="Imagem da tarefa" class="w-32 h-32 mt-2">
        <input type="file" name="imagem" accept="image/*" class="block mb-2 border text-[20px]">
        
        <div class="flex justify-center">
            <button type="submit" class="bg-[#ededed] text-black px-8 py-2 border-[3px] border-black mb-40 mt-10 text-[25px] rounded-[10px]">Salvar</button>
        </div>
    </form>


{% endblock %}
